<p align="center">
    "AÑO DEL BICENTENARIO, DE LA CONSOLIDACIÓN DE NUESTRA INDEPENDENCIA, Y DE LA CONMEMORACIÓN DE LAS HEROICAS BATALLAS DE JUNÓN Y AYACUCHO "
</p>

<h1 align="center">
    <u>CONSTANCIA ECONÓMICA</u>
</h1>

<p align="right"><b>Nro. 1312 </b></p>

<h2 align="center">EL JEFE DE LA OFICINA DE ECONOMÍA Y FINANZAS</h2>

<h2>CERTIFICA:</h2>

<p>Que el(la) Sr(a)(ita).:</p>
<h3 align="center">wALTER cOAYLA</h3>
<p>
    Con <b>código N° 152012455P</b> estudinate de la Facultad:
</p>
<h3 align="center">INGENIERÍA Y ARQUITECTURA</h3>
<p>
    En el programa de estudios:
</p>
<h3 align="center">SISTEMAS E INFORMÁTICA</h3>

<p>
    A la fecha, <b>NO ADEUDA</b> pensiones de enseñanza, al Semestre Académico 2023-I
</p>
<p>
    Se expide la presente <b>CONSTANCIA ECONÓMICA</b> a solicitud del interesado para los trámites académicos y/o administrativos.
</p>
<h4>RECIBO DE INGRESOS N° B001-0012455</h4>
<p align="right">Moquegua, 10 de febrero del 2024</p>



